@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import './variables';
@import './grid';
@import './keyframes';
@import './components/form';
@import './components/button';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  font-family: 'Montserrat';
  font-size: 100%;
}

body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

.image-vector {
  margin: 3rem auto;
}

.construction {
  padding: 10rem 3rem;
  padding-bottom: 5rem;
}

.container-main {
  padding: 2rem;
}


.container-main {

  h1.logo{
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
  }
  margin-top: 2rem;
  padding: 0.5rem;

  form.example {
    padding-bottom: 1rem;
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 2rem 0rem 0rem 2rem;
    padding-left: 1rem;
  }

  ::placeholder {
    color: $primary-color;
    opacity: .45;
    /* Firefox */
    font-size: 0.6555rem;
    font-weight: 700;
  }

  .fa-search:before {
    opacity: 0.3;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border: 0;
    color: $primary-color;
    border-radius: 0rem 2rem 2rem 0rem;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .card {
    padding: 1rem;
    margin-bottom: 0rem;
    border-bottom: solid 0.1px $primary-color;

    .card-description {
      text-align: left;

      h1 {
        &.location {
          font-size: 1rem;

          .text {
            display: block;
            margin: 1rem;
            margin-left: 0;
            font-weight: 400;
          }
        }
      }

    }


    .card-img {
      width: 11rem;
      height: 8rem;
      border-radius: 0.2rem;
      margin: 0 auto;
      padding: 0;
      box-shadow: 0px 0px 5px 1px rgba(87, 87, 87, 0.72);
      text-align: center;
      padding: 1rem;

      img {
        height: 6.22rem;
      }

    }
  }
}

@media only screen and (max-width: 600px) {
  .container-main {
    .heading {
      .cta {
        a {
          text-decoration: none;
          &.button {
            color: $brown-color;
            border: solid 2px lighten($gray-color, 20%);
            border-radius: 10px;
            float: left;
            font-size: 0.65rem;
            padding: 0;
            /* margin: auto; */
          }
        }
      }


    }
    .card {
      .col-1-of-3 {
        grid-template-columns: 30% 40% auto;
        grid-gap: 0;
        grid-gap: 0.5rem;

        .card-img {
          height: 5rem;
          width: 6rem;
          padding: 0;
          margin: 0;
          float: left;
          margin-bottom: 1rem;
          box-shadow: 0px 0px 5px 1px rgba(87, 87, 87, 0.22);

          img {
            height: 5rem;
            width: 5rem;
          }
        }

        .card-description {
          .name {
            font-size: 1rem;
          }

          .location {

            margin: 1rem;
            margin-left: 0;

            h1 {
              font-size: 0.65rem;
              margin-bottom: 1rem;
              font-weight: 600;

              .text {
                font-weight: 400;
              }
            }
          }
        }

        .view-more {
          .button {
            color: $brown-color;
            border: solid 2px lighten($gray-color, 20%);
            border-radius: 10px;
            float: left;
            font-size: 0.65rem;

            padding: 14px 7px;
            /* margin: auto; */
            margin: 1rem -1rem;
          }
        }
      }
    }

  }
}
