.col-1-of-3 {
    display: grid;
    grid-template-columns:30% 30% auto;
    grid-gap: 3rem;
    box-sizing: border-box;
    margin-bottom: 1rem;   
  }

.col-2-of-3 {
    display: grid;
    grid-template-columns:40% auto;
    grid-gap: 3rem;
    box-sizing: border-box;
    margin-bottom: 1rem;   
  }
  .col-1-of-2{
      display: grid;
      grid-template-columns: 50% auto;
      grid-gap: 3rem;
      box-sizing: border-box;
      margin-bottom: 1rem;
  }

  .col-1-of-4{
      display: grid;
      grid-template-columns: 25% 25% 25% auto;
      grid-gap: 3rem;
      box-sizing: border-box;
      margin-bottom: 1rem;
  }