<div class="top-feature">
  <div class="heading">
    <h1>
      <span class="main">
        Find plants around the most famous
        parks and gardens
      </span>
    </h1>
  </div>
  <div class="plant">
    <h1 class="featured">
      top featured
    </h1>
    <div class="card" *ngFor="let item of plants | async">
      <div class="col-1-of-3">
        <div class="card-img">
          <img src="assets/images/plants/plant-1.svg" alt="plant here">
        </div>
        <div class="card-description">
          <h1 class="name">
            {{item.Name}}
          </h1>
          <h1 class="location">
            <span class="text">Description:  {{item.Description}}</span>
            <span class="text">Location :  Durban Botanic Gardens</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
