.button {
  display: block;
  padding:  1rem 0;
  color: $primary-color;
  width: 60%;
  border: 2px solid $primary-color;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 4rem auto;
}
