.form-wrapper {
  width: 390px;
  height: 70%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 33px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 10rem;

  .form {
    width: 100%;

    .form-title {
      display: block;
      font-size: 30px;
      color: $primary-color;
      line-height: 1.2;
      text-align: center;
      text-transform: capitalize;

      &.instruct {
        font-size: 20px;
        text-align: left;

        .text {
          font-size: 12px;
          display: block;
          margin-top: 1rem;
          color: $gray-color;
          font-weight: 400;
        }
      }
    }

    .form-logo {
      text-align: center;
    }

    .form-body {
      margin-top: 4rem;

      .form-control {
        width: 100%;
        position: relative;
        border-bottom: 0.3px solid #adadaded;
        margin-bottom: 20px;

        .form-input {
          font-size: 15px;
          color: #555;
          line-height: 1.2;
          display: block;
          width: 100%;
          height: 30px;
          background: 0 0;
          padding: 0 5px;
        }

        .form-label {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          pointer-events: none;
          font-size: 1rem;
          font-weight: 600;
        }

        input {
          outline: none;
          border: none;
        }

        &.cta {
          border-bottom: 0px;
        }

        .form-button {
          background-color: transparent;
          border: none;
          color: black;
          padding: 15px 0;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;

          text-transform: capitalize;

          &.gray {
            color: $gray-color;
            opacity: 0.3;
          }

          &.success {
            color: $success-color;
            font-weight: 700;
          }
        }
      }
    }

  }

}


// queries here

@media only screen and (max-width: 600px) {
  .form-wrapper {
    padding: 50px 25px;
    border-radius: 0px;
    // height: 60%;
    // margin-top: 27.6rem;
  }
  .form-wrapper {
    box-shadow: none;
    margin-top: 34rem;
    height: 50%;

    .form {
      .form-banner {
        position: absolute;
        top: 10rem;
        left: 5rem;
        text-align: center;

        img {
          height: 140.05px;
          width: 247.54px;

        }
      }

      .form-title {
        &.instruct {
          position: absolute;
          top: 30rem;
          color: white;
        }
      }

      .text {
        font-size: 12px;
        font-weight: 600;
      }

      .form-body {
        margin-top: 5rem;
      }
    }
  }

}
