.form {

  padding: 2rem;
  padding-bottom: 0;

  label {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
  }

  .input-field {
    border: none;
    background: #ffffff;
    border-bottom: solid 0.2rem $dark-color;
    padding: 0.7rem 2rem;
    margin: 0.3rem 0;
    width: 100%;
    color: #78909c;
    font-weight: 600;
  }

  .ng-invalid {
    border: 0.5px solid #e74c3c;
  }

  .ng-untouched {
    border: none;
    // border: .5px solid #ffe23d;
  }

  .textarea {
    height: 5rem;
  }

  .button {
    // width: 22rem;
    padding: 1.4rem;
    text-transform: uppercase;
    color: $white-clouds-color;
    font-weight: 500;
    border: none;
    background: no-repeat;
    float: right;
    text-align: right;

    cursor: pointer;
    &:hover {

    }

    input::placeholder {
      opacity: 0;
    }

    @media only screen and (max-width: 600px) {
      padding: 0.8rem;

      .input-field {
        padding: 0.7rem 2rem;
        margin: 0.3rem 0;
        width: 100%;
        color: #78909c;
        font-weight: 600;
      }
    }
  }

  .success {
    background: #2ecc71;
  }


  @media only screen and (max-width: 600px) {
    padding: 0rem;

    .input-field {
      padding: 1rem;
      margin: 0;
      width: 100%;
      color: $dark-color;
      border-bottom: solid 0.033rem $dark-color;
      font-weight: 600;
    }
    .cta {
      margin: 5rem auto;
      .button {
        text-align: center;
        color: $white-color;
        text-transform: capitalize;
        background: $success-color;
        box-shadow: -1px 0px 42px -17px rgba(44,222,115,0.3);
        border-radius: 5px;
        font-size: 1rem;
        &.cancel {
          background: none;
          color: $dark-color;
          box-shadow: none;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .col-1-of-2 {
      grid-gap: 0;
    }

  }
}

// .button:disabled {
//   cursor: no-drop;
//   float: right;
//   cursor: no-drop;
//   color: rgb(153, 149, 149);

//   &:hover {
//     background: none;
//     color: rgb(153, 149, 149);
//     border: none;
//   }
// }

.switch-conatiner {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 2rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      left: 7px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
    }
  }

  input {
    &:checked+.slider {
      background-color: #29b6f6;
    }


    &:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  /* Rounded sliders */

  .slider.round {
    border-radius: 3rem;

    &:before {
      border-radius: 50%;
    }
  }
}
