nav {
  position: absolute;

  padding: 2em;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  position: fixed;

  .close-btn {
    float: right;
    cursor: pointer;
    opacity: 0;
  }

  .logo {

    float: left;
    opacity: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 5rem;
    float: right;
    margin-right: 5rem;
    a {
      color: $white-clouds-color;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 800;
      text-transform: capitalize;
      opacity: 1;
      // &.active {
      //   opacity: 1;
      // }
      font-style: italic;
    }

    span {
      color: $white-clouds-color;
      display: block;
      font-size: 2em;
      margin-top: 20px;
    }

    li {
      padding: 1rem;
      width: 50%;
      margin: 0 auto;
      text-align: left;
      opacity: 0;
    }
  }



}


@media only screen and (max-width: 600px) {
  nav {
    background: #2f354259;
  }

  nav ul {
    padding-right: 0;
    padding-top: 5rem;
    padding-left: 0;
    display: block;
    float: right;

    a {
      font-size: 2rem;
      font-weight: 700;
    }

    li {
      padding-bottom: 2rem;
      width: 100%;

      span {
        display: none;
      }
    }
  }

  .show-menu {
    .close-btn {
      margin: 4rem;
    }

  }
}

// animations begin here
.show-menu {
  animation: slide-menu 1s ease-in forwards;
  z-index: 500;

  .close-btn {
    animation: show-x 1s 1s forwards;
  }

  .logo {
    animation: show-x 1s 1s forwards;
  }

  li:nth-of-type(1) {
    animation: menu-item-animate .6s forwards 1s ease-in-out;
  }

  li:nth-of-type(2) {
    animation: menu-item-animate .6s forwards 1.3s ease-in-out;
  }

  li:nth-of-type(3) {
    animation: menu-item-animate .6s forwards 1.6s ease-in-out;
  }

  li:nth-of-type(4) {
    animation: menu-item-animate .6s forwards 1.9s ease-in-out;
  }
}
