@import '../../../assets/scss/variables';

.main-content {
  padding: 2rem;

  h1 {
    &.main {
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 500;
    }

    &.instruction {
      font-weight: 500;
      font-size: 1.5rem;

      span {
        display: block;
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 1rem;
      }
    }
  }


  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .cta {
    a {
      text-decoration: none;
      opacity: .4;
    }
  }

  .image-vector {
    text-align: center;
  }
}
