@import '../../../assets/scss/variables';


.container-main {
  background-image: url('../../../assets/images/account/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: -4rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  padding: 5px;

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}


// media queries

@media only screen and (max-width: 600px) {
  .container-main {
    padding: 0;
    background: $success-color;
    background: linear-gradient(to bottom, $success-color 0%, $success-color 50%, $success-color 50%, $white-color 50%, $white-color 100%);
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

}
