@import '../../../../assets/scss/variables';


@media only screen and (max-width: 600px) {

  .main-content {
    padding: 1rem;

    h1 {
      &.main {
        text-transform: initial;
        font-size: 1.22rem;
        font-weight: 400;
      }

      &.instruction {
        font-weight: 500;
        font-size: 1.5rem;
        width: 50%;
        text-align: center;
        margin: 0rem auto;

        span {
          display: block;
          font-size: 0.8rem;
          font-weight: 400;
          margin-top: 1rem;
        }
      }
    }


    .login-page {
      width: 360px;
      padding: 8% 0 0;
      margin: auto;
    }

    .cta {
      a {
        text-decoration: none;
        opacity: .4;
      }
    }

    .image-vector {
      text-align: center;
    }
  }


  .form {
    .input-field {
      padding: 0.33rem;
      margin: 0;
      width: 100%;
      color: #000000;
      border-bottom: solid 0.033rem #000000;
      font-weight: 600;
    }

    .controls {
      label {
        color: $primary-color;
        color: #2F3542;
        font-size: 0.88rem;
        font-weight: 400;
        text-transform: capitalize;
      }
      textarea {
        height: 6rem;
      }
      .alert {
        font-size: 0.66rem;
        margin-top: 0.222rem;
        color: $red-color;
        font-weight: 600;
      }
    }
  }
}
