@import '../../../assets/scss/variables';
.image {
  padding: 3rem;
}

.message {
  text-align: center;

  span {
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.actions {
  margin: 2rem;
  margin-top: 10rem;
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $primary-color;
    &.cta {
      font-weight: 600;
      color: $success-color;

    }
  }

  &.col-1-of-2 {
    grid-template-columns: 40% auto;
  }

}
