@import '../../../assets/scss/variables';

.cta {
  a {
    &.button {
      padding: 0.85rem;
      color: $white-color;
      background: $success-color;
      text-transform: capitalize;
      border: 0;
    }
  }
}
