<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="showcase">
  <div class="container showcase-inner">
    <div class="col-1-of-1">
      <h1 class="header">information a tab away</h1>
    </div>
  </div>
</header>
<div class="slogan">
  <h1>
    <span class="main">
      Find plants around the most famous parks and gardens
    </span>
  </h1>
</div>
