<app-dashboard-nav></app-dashboard-nav>
<app-dashboard-header></app-dashboard-header>

<div class="container-main">
  <nav class="sidebar">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/dashboard">home</a>
      </li>
      <li routerLinkActive="active" >
        <a routerLink="plants">plants</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="beds">beds</a>
      </li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>

</div>
