<app-dashboard-nav></app-dashboard-nav>
<div class="container-main">
  <header class="dashboard-header">
     <div class="col-1-of-2">
      <h1 class="logo-dashboard">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.211"
          height="74.593" viewBox="0 0 71.211 74.593">
          <defs>
            <filter id="Path_329" x="0" y="0" width="71.211" height="71.211" filterUnits="userSpaceOnUse">
              <feOffset input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-color="#f5f6fa" flood-opacity="0.29" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
            <filter id="Path_330" x="0" y="3.382" width="71.211" height="71.211" filterUnits="userSpaceOnUse">
              <feOffset input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur-2" />
              <feFlood flood-opacity="0.157" />
              <feComposite operator="in" in2="blur-2" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="Group_186" data-name="Group 186" transform="translate(-1255.067 -372.068)">
            <g transform="matrix(1, 0, 0, 1, 1255.07, 372.07)" filter="url(#Path_329)">
              <path id="Path_329-2" data-name="Path 329"
                d="M4.228,0A95.248,95.248,0,0,0,20.17,1.6,84,84,0,0,0,35.512,0,4.228,4.228,0,0,1,39.74,4.228V31.284a4.228,4.228,0,0,1-4.228,4.228S26.3,34.426,21.9,34.21s-17.674,1.3-17.674,1.3A4.228,4.228,0,0,1,0,31.284V4.228A4.228,4.228,0,0,1,4.228,0Z"
                transform="translate(34.11 9) rotate(45)" fill="#f5f6fa" />
            </g>
            <g transform="matrix(1, 0, 0, 1, 1255.07, 372.07)" filter="url(#Path_330)">
              <path id="Path_330-2" data-name="Path 330"
                d="M4.228,0A95.248,95.248,0,0,0,20.17,1.6,84,84,0,0,0,35.512,0,4.228,4.228,0,0,1,39.74,4.228V31.284a4.228,4.228,0,0,1-4.228,4.228S26.3,34.426,21.9,34.21s-17.674,1.3-17.674,1.3A4.228,4.228,0,0,1,0,31.284V4.228A4.228,4.228,0,0,1,4.228,0Z"
                transform="translate(34.11 12.38) rotate(45)" fill="#fff" />
            </g>
            <circle id="Ellipse_64" data-name="Ellipse 64" cx="9.735" cy="9.735" r="9.735"
              transform="translate(1280.949 401.332)" fill="#44bd32" />
            <g id="Orion_cherry" transform="translate(1285.068 404.327)">
              <path id="layer2"
                d="M16.183,7.262A.184.184,0,0,1,16,7.08a8.36,8.36,0,0,1,2.643-6.036.184.184,0,0,1,.3.112,7.569,7.569,0,0,0,3,4.852.184.184,0,1,1-.215.3A7.963,7.963,0,0,1,18.639,1.54a8.25,8.25,0,0,0-2.271,5.535.184.184,0,0,1-.182.187Z"
                transform="translate(-13.605 -1)" fill="#a7c180" />
              <path id="opacity"
                d="M16.183,7.262A.184.184,0,0,1,16,7.08a8.36,8.36,0,0,1,2.643-6.036.184.184,0,0,1,.3.112,7.569,7.569,0,0,0,3,4.852.184.184,0,1,1-.215.3A7.963,7.963,0,0,1,18.639,1.54a8.25,8.25,0,0,0-2.271,5.535.184.184,0,0,1-.182.187Z"
                transform="translate(-13.605 -1)" fill="#8b4513" opacity="0.37" />
              <path id="layer2-2" data-name="layer2"
                d="M24.762,1.368H22.184a.184.184,0,0,1,0-.368h2.578a.184.184,0,0,1,0,.368Z"
                transform="translate(-18.501 -1)" fill="#a7c180" />
              <circle id="layer1" cx="2.578" cy="2.578" r="2.578" transform="translate(0 6.077)" fill="#f5f6fa" />
              <circle id="layer1-2" data-name="layer1" cx="2.578" cy="2.578" r="2.578"
                transform="translate(5.524 4.972)" fill="#fff" />
              <path id="opacity-2" data-name="opacity"
                d="M3,31.683a2.578,2.578,0,0,0,2.578,2.578V29.1A2.578,2.578,0,0,0,3,31.683Zm5.525-1.1A2.578,2.578,0,0,0,11.1,33.156V28a2.578,2.578,0,0,0-2.578,2.578Z"
                transform="translate(-3 -23.028)" fill="#21205e" opacity="0.1" />
            </g>
          </g>
        </svg>
      </h1>
      <div class="user">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65" height="65"
          viewBox="0 0 65 65">
          <defs>
            <filter id="Ellipse_62" x="0" y="0" width="65" height="65" filterUnits="userSpaceOnUse">
              <feOffset input="SourceAlpha" />
              <feGaussianBlur stdDeviation="3" result="blur" />
              <feFlood flood-color="#2f3542" flood-opacity="0.122" />
              <feComposite operator="in" in2="blur" />
              <feComposite in="SourceGraphic" />
            </filter>
          </defs>
          <g id="user" transform="translate(-269 -6)">
            <g transform="matrix(1, 0, 0, 1, 269, 6)" filter="url(#Ellipse_62)">
              <circle id="Ellipse_62-2" data-name="Ellipse 62" cx="23.5" cy="23.5" r="23.5" transform="translate(9 9)"
                fill="#fff" />
            </g>
            <path id="user-solid_1_" data-name="user-solid (1)"
              d="M9.485,10.84a5.42,5.42,0,1,0-5.42-5.42A5.42,5.42,0,0,0,9.485,10.84ZM13.279,12.2h-.707a7.371,7.371,0,0,1-6.174,0H5.691A5.692,5.692,0,0,0,0,17.886v1.762A2.033,2.033,0,0,0,2.032,21.68h14.9a2.033,2.033,0,0,0,2.032-2.033V17.886A5.692,5.692,0,0,0,13.279,12.2Z"
              transform="translate(293 28)" fill="#44bd32" />
          </g>
        </svg>

        <h1 class="caption">
          hi, {{username}}
        </h1>

      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>
