@import '../../assets/scss/variables';
.logo-dashboard {
}
.user {
  text-align: center;
  svg {
    margin: 0 auto;
    display:block;
  }

  h1{
    &.caption{
      font-size: 0.81rem;
      text-transform: capitalize;
      font-weight: 500;
      color: $white-color;
    }
  }
}

